<!DOCTYPE html>
<html>
<head>
	<title>{{longName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css" media="screen">
{% macro slate_css() %}{% include "resources/slate/dist/css/slate.min.css" %}{% endmacro %}
{{ slate_css()|minify_css }}
	</style>
</head>
<body>
	<div class="item-container" id="app-header" name="app-header">
	  <div class="item-container-content">
	    <div class="item">
	    	<center><b>{{longName}}</b></center>
	    </div>
	  </div>
	</div>

	{% if 'description' in preferences -%}
	<div class="item-container">
	  <div class="item-container-content">
	    <div class="item">
	      	{{ preferences['description'] }}
	    </div>
	  </div>
	</div>
	{%- endif %}

	<div class="item-container">
		<div class="button-container">
			<input type="submit" class="item-button" value="SAVE" id="save-top">
		</div>
	</div>

	{% macro item_html(item) -%}
	<label class="item {{ "item-subtitle-wrapper" if 'description' in item }}">
	{{ item['title'] }}
	{% if 'description' in item -%}
		<div class="item-subtitle">{{ item['description']}}</div>
	{%- endif %}
    {%- if item['type'] == 'enum' %}
	  <select id="{{ item['name'] }}" name="{{ item['name'] }}" dir='rtl' class="item-select">
	  	{%- for key, choice in item['choices'].iteritems() %}
		<option class="item-select-option" value="{{loop.index0 }}" {{ "selected" if item['default'] == loop.index0 }}>{{ choice }}</option>
		{%- endfor %}
	  </select>
	{%- elif item['type'] == 'integer' %}
	  <input type="range" class="item-slider" id="{{ item['name'] }}" name="{{ item['name'] }}" value="{{item['default']}}" min="{{item['min']}}" max="{{item['max']}}">
	  <div class="item-input-wrapper item-slider-text">
	    <input type="text" class="item-input" data-slider-id="{{ item['name'] }}" name="{{ item['name'] }}" value="{{item['default']}}">
	  </div>
	{%- elif item['type'] == 'boolean' %}
	  <input type="checkbox" class="item-toggle" id="{{ item['name'] }}" name="{{ item['name'] }}" {{ "checked" if item['default']|lower == "true" }}>
	{%- elif item['type'] == 'string' %}
	  <div class="item-input-wrapper">
	    <input type="text" class="item-input" id="{{ item['name'] }}" name="{{ item['name'] }}" placeholder="{{ item['default'] }}" value="{{ item['default'] }}">
	  </div>
	{%- elif item['type'] == 'color' %}
		<input type="text" class="item-color item-color-sunny" id="{{ item['name'] }}" name="{{ item['name'] }}" value="{{ item['default'] }}">
	{%- else %}
	{%- endif %}
	</label>
	{%- endmacro %}

	{%- if 'items' in preferences %}
	<div class="item-container">
	<div class="item-container-content">
	{%- for item in preferences['items']: %}
	{{ item_html(item) }}
	{%- endfor %}
	</div>  
	</div>
	{%- endif %}

	{%- if 'sections' in preferences %}
	{%- for section in preferences['sections']: %}
	<div class="item-container">
	  <div class="item-container-header">{{ section['name'] }}</div>
	  <div class="item-container-content">
		{% if 'description' in section -%}
			<div class="item">
	      		{{ section['description'] }}
	    	</div>
		{%- endif %}
		{%- for item in section['items']: %}
	  	{{ item_html(item) }}
		{%- endfor %}
	  </div>  
	</div>
	{%- endfor %}
	{%- endif %}

	<div class="item-container">
		<div class="button-container">
			<input type="submit" class="item-button" value="SAVE" id="save-bottom">
		</div>
	</div>

	{%- if 'footer' in preferences %}
	<div class="item-container">
	{{ preferences['footer'] }}
	</div>
	{%- endif %}

	<div class="item-container">
	  <div class="item-container-footer"><center>Powered by <a href="https://github.com/gregoiresage/pebble-autoconfig">Pebble Autoconfig</a> and <a href="https://github.com/pebble/slate">Slate</a></center></div>
	</div>

	<script type="text/javascript">
{% macro pa_slate() %}{% include "resources/slate/dist/js/slate.min.js" %}{% endmacro %}
{{ pa_slate()|minify_js }}
{% macro pa_pc() %}{% include "resources/js/pconfig.js" %}{% endmacro %}
{{ pa_pc()|minify_js }}
{% macro pa_js() %}{% include "resources/js/pebble-autoconfig.js" %}{% endmacro %}
{{ pa_js()|minify_js }}
	</script>
</body>
</html>