#ifndef autoconfig_h
#define autoconfig_h

#include <pebble.h>

{%- import 'autoconfig.jinja.utils' as autoconfig_utils -%}

{% for item in preferences['items']: %}

{%- if item['type'] == 'choice' %}
typedef enum {
{%- for choice in item['choices']: %}
	{{ item['name']|cvarname|upper }}_{{ choice.keys()[0]|cvarname }},
{%- endfor %}
} {{ item['name']|cvarname|capitalize }}Value;
{% endif %}
#define {{ item['name']|cvarname|upper }}_PKEY {{ appKeys[item['name']] }}
{%- if item['type'] == 'choice' %}
{{ item['name']|cvarname|capitalize }}Value get{{ item['name']|cvarname|capitalize }}();
{%- elif item['type'] == 'switch' %}
bool get{{ item['name']|cvarname|capitalize }}();
{%- elif item['type'] == 'string' %}
char* get{{ item['name']|cvarname|capitalize }}();
{%- else %}
int32_t get{{ item['name']|cvarname|capitalize }}();
{%- endif %}
{% endfor %}

void autoconfig_in_received_handler(DictionaryIterator *iter, void *context); 

void autoconfig_init();

void autoconfig_deinit();

#endif