<!DOCTYPE html>
<html>
<head>
	<title>{{longName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css" media="screen">
{% include "embed/css/pure/0.4.2/base-min.css" %}
{% include "embed/css/pure/0.4.2/buttons-min.css" %}
{% include "embed/css/pure/0.4.2/forms-min.css" %}
{% macro pa_css() %}{% include "embed/css/pebble-autoconfig.css" %}{% endmacro %}
{{ pa_css()|minify_css }}
	</style>
</head>
<body>
	<div class="wrapper">
		<header class="header" id="header">
			<h1>{{longName}}</h1>
		</header>
		<article id="content" class="content">
			<form id="form" class="pure-form pure-form-stacked">
				<fieldset>
					{% if 'items' in preferences %}
					{%- for item in preferences['items']: %}
					<div class="pure-control-group">
						<h4 for="{{ item['name'] }}">{{ item['title'] }}</h4>
						<div class="subtitle">{{ item['subtitle']}}</div>
						{%- if item['type'] == 'enum' %}
						<select class="pure-input-1" name="{{ item['name'] }}" id="{{ item['name'] }}">
							{%- for key, choice in item['choices'].iteritems() %}
							<option value="{{loop.index0 }}">{{ choice }}</option>
							{%- endfor %}
						</select>
						{%- elif item['type'] == 'integer' %}
						<input class="pure-input-1" type="number" name="{{ item['name'] }}" id="{{ item['name'] }}" min="{{item['min']}}" max="{{item['max']}}" required>
						{%- elif item['type'] == 'boolean' %}
						<label for="{{ item['name'] }}-off" class="pure-radio">
							<input id="{{ item['name'] }}-off" type="radio" name="{{ item['name'] }}" value="0">
							{{ item['off-text'] }}
						</label>
						<label for="{{ item['name'] }}-on" class="pure-radio">
							<input id="{{ item['name'] }}-on" type="radio" name="{{ item['name'] }}" value="1">
							{{ item['on-text'] }}
						</label>
						{%- elif item['type'] == 'string' %}
						<input class="pure-input-1" type="text" name="{{ item['name'] }}" id="{{ item['name'] }}" value="" maxlength="{{ item['max-length'] }}" 
						{%- if item['pattern'] %} pattern="{{ item['pattern'] }}">
						{%- else %}>
						{%- endif %}
						{%- endif %}
					</div>
					{%- endfor %}
					{%- endif %}
				</fieldset>
				<div class="buttons">
					<button id="save" class="pure-button pure-button-primary" type="submit" form="form">Save</button>
					<button id="cancel" class="pure-button">Cancel</button>
				</div>
				<div class="clear"></div>
			</form>
			<div id="log"></div>
			<div class="push"></div>
		</article>
	</div>
	<footer class="footer l-box is-center" id="footer">
		<span id="footer-text">Powered by Pebble Autoconfig</span>
	</footer>
	<script type="text/javascript">
{% macro pa_val() %}{% include "embed/js/validation.js" %}{% endmacro %}
{{ pa_val()|minify_js }}
{% macro pa_js() %}{% include "embed/js/pebble-autoconfig.js.jinja" %}{% endmacro %}
{{ pa_js()|minify_js }}
	</script>
</body>
</html>