<!DOCTYPE html>
<html>
<head>
	<title>{{longName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css" media="screen">
		html, body {height: 100%;}
		body {margin: 0; font-size: 1em;}
		body * {margin: 0; padding: 0; font-family: "Lucida Grande", helvetica, sans-serif;}
		h1 {font-size: 1.8em;}
		h2 {font-size: 1em}
		#wrap {min-height: 100%; }
		#content {overflow:auto; padding-bottom: 50px; padding: 1em; }
		#header, #footer {background-color: #eeeeee; text-align: center; }
		#header {padding: 0.5em}
		#footer {position: relative; margin-top: -50px; height: 50px; clear:both;}
		button {padding: 0.8em; margin: 0.5em; font-size: 1em; font-weight: bold; width: 40%; display: inline-block;}
		#save {float: right; }
		#cancel {}

		.user-form .field { padding: 4px; margin:1px; }
		.user-form .field label { display:inline-block; width:140px; margin-left:5px; }
		.user-form .field input { display:inline-block; }
		.user-form .field input[type="number"], input[type="text"] { width: 100% }
	</style>
</head>

<body>
	<div data-role="page" id="wrap">
		<div data-role="header" id="header">
			<h1>{{longName}}</h1>
		</div>
		<div id="content">
			<form id="form" class="user-form">
				{% if 'items' in preferences %}
				{%- for item in preferences['items']: %}
				<div class="field">
					<label for="{{ item['name'] }}">{{ item['title'] }}</label>
					{%- if item['type'] == 'enum' %}
					<select name="{{ item['name'] }}" id="{{ item['name'] }}">
					{%- for key, choice in item['choices'].iteritems() %}
						<option value="{{loop.index0 }}">{{ key }}</option>
					{%- endfor %}
					</select>
					{%- elif item['type'] == 'integer' %}
					<input type="number" name="{{ item['name'] }}" id="{{ item['name'] }}" min="{{item['min']}}" max="{{item['max']}}">
					{%- elif item['type'] == 'boolean' %}
					<input type="checkbox" name="{{ item['name'] }}" id="{{ item['name'] }}">
					{%- elif item['type'] == 'string' %}
					<input type="text" name="{{ item['name'] }}" id="{{ item['name'] }}" value="" maxlength="{{ item['max-length'] }}" pattern="{{ item['pattern'] }}" required>
					{%- endif %}
				</div>
				{%- endfor %}
				{%- endif %}
			</form>
			<button id="cancel">Cancel</button>
			<button id="save">Save</button>
			<div id="logdiv"></div>
		</div>
	</div>
	<div data-role="footer" id="footer" data-position="fixed">
		<h2 id="footer-text">Powered by Pebble Autoconfig</h2>
	</div>
	<script type="text/javascript">
			function log (text) {
				logdiv.innerHTML = logdiv.innerHTML + "<br>" + text;
				console.log(text);
			}

			var logdiv = document.getElementById("logdiv");

			var dictionary = {};
			document.getElementById('save').addEventListener('click', function (event) {
				log("Save clicked");
				{% if 'items' in preferences %}
				{%- for item in preferences['items']: %}
				{%- if item['type'] == 'string' %}
				dictionary['{{ item['name'] }}'] = document.getElementById('{{ item['name'] }}').value;
				{%- elif item['type'] == 'boolean' %}
				dictionary['{{ item['name'] }}'] = (document.getElementById('{{ item['name'] }}').checked ? 1 : 0);
				{%- else %}
				dictionary['{{ item['name'] }}'] = parseInt(document.getElementById('{{ item['name'] }}').value);
				{%- endif %}
				{%- endfor %}
				{% endif %}

				location.href = 'pebblejs://close#' + encodeURIComponent(JSON.stringify(dictionary));
			});

			document.getElementById('cancel').addEventListener('click', function (event) {
				log("Cancel clicked");
				location.href = 'pebblejs://close#';
				log("After location change");
			});

			dictionary = REPLACED_AT_RUNTIME;
			console.log(dictionary);

			{% if 'items' in preferences %}
			{% for item in preferences['items']: %}
			if(!dictionary.hasOwnProperty('{{ item['name'] }}')) {
				{%- if item['type'] == 'boolean' %}
				dictionary['{{ item['name'] }}'] = {{ item['default']|lower }};
				{%- else %}
				dictionary['{{ item['name'] }}'] = '{{ item['default'] }}';
				{%- endif %}
			}
			{%- if item['type'] == 'enum' %}
			document.getElementById('{{ item['name'] }}').value = dictionary['{{ item['name'] }}'].toString();
			{%- elif item['type'] == 'integer' %}
			document.getElementById('{{ item['name'] }}').value = dictionary['{{ item['name'] }}'].toString();
			{%- elif item['type'] == 'boolean' %}
			document.getElementById('{{ item['name'] }}').checked = dictionary['{{ item['name'] }}'];
			{%- elif item['type'] == 'string' %}
			document.getElementById('{{ item['name'] }}').value = dictionary['{{ item['name'] }}'];
			{%- endif %}
			{%- endfor %}
			{%- endif %}
	</script>
</body>
</html>