<!DOCTYPE html>
<html>
<head>
	<title>{{longName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<style type="text/css">
	{%- for item in preferences['items']: %}
	{%- if item['type'] == 'boolean' %}
	{%- set width = item['on-text']|length|max(item['off-text']|length) %}
	{%- if width > 5 %}
	.{{ item['name'] }}-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
		text-indent: -{{ width - 2.475 }}em;
	}
	.{{ item['name'] }}-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
		text-indent: 0.5em;
	}
	.{{ item['name'] }}-size-flipswitch.ui-flipswitch {
		width: {{ width }}em;
	}
	.{{ item['name'] }}-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
		padding-left: {{ width - 1.875 }}em;
		width: 1.875em;
	}
	
	@media (min-width: 28em) {
		.ui-field-contain .{{ item['name'] }}-size-flipswitch.ui-flipswitch {
			width: {{ width }}em;
		}
				
		.ui-field-contain .{{ item['name'] }}-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
			padding-left: {{ width - 1.875 }}em;
 			width: 1.875em;
 		}
	}
	{%- endif %}
	{%- endif %}
	{%- endfor %}
	</style>
</head>

<body>
	<div data-role="page" id="configuration">
		<div data-role="header" id="header">
			<button id="b-cancel" data-icon="back" data-iconpos="left" data-inline="true" data-mini="true">Cancel</button>
			<h1>{{longName}}</h1>
		</div>
		<div data-role="content">
			<form id="configuration-form">
				{%- for item in preferences['items']: %}
				<div class="ui-field-contain">
					<label for="{{ item['name'] }}">{{ item['title'] }}</label>
					{%- if item['type'] == 'enum' %}
					<select name="{{ item['name'] }}" id="{{ item['name'] }}">
					{%- for key, choice in item['choices'].iteritems() %}
						<option value="{{loop.index0 }}">{{ key }}</option>
					{%- endfor %}
					</select>
					{%- elif item['type'] == 'integer' %}
					<input type="range" name="{{ item['name'] }}" id="{{ item['name'] }}" min="{{item['min']}}" max="{{item['max']}}">
					{%- elif item['type'] == 'boolean' %}
					<input type="checkbox" data-role="flipswitch" name="{{ item['name'] }}" id="{{ item['name'] }}" data-on-text="{{ item['on-text'] }}" data-off-text="{{ item['off-text'] }}" data-wrapper-class="{{ item['name'] }}-size-flipswitch">
					{%- elif item['type'] == 'string' %}
					<input type="text" name="{{ item['name'] }}" id="{{ item['name'] }}" value="" maxlength="{{ item['max-length'] }}" data-clear-btn="true">
					{%- endif %}
				</div>
				{%- endfor %}
				
				<button id="b-submit" data-theme="b" data-icon="check" data-iconpos="right">Save</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">	 
		$().ready(function() {	  
			var dictionary;
			try {
				dictionary = JSON.parse(localStorage['{{shortName}}']);
			} catch(e) {
				dictionary = {
					{%- for item in preferences['items']: %}
					{%- if item['type'] == 'boolean' %}
					"{{ item['name'] }}" : {{ item['default']|lower }},
					{%- else %}
					"{{ item['name'] }}" : "{{ item['default'] }}",
					{%- endif %}
					{%- endfor %}
				};
			}
			{% for item in preferences['items']: %}
			if('{{ item['name'] }}' in dictionary) {
				{%- if item['type'] == 'enum' %}
				$('#{{ item['name'] }}').val(dictionary['{{ item['name'] }}'].toString()).selectmenu('refresh');
				{%- elif item['type'] == 'integer' %}
				$('#{{ item['name'] }}').val(dictionary['{{ item['name'] }}'].toString()).slider('refresh');
				{%- elif item['type'] == 'boolean' %}
				$('#{{ item['name'] }}').prop('checked', (dictionary['{{ item['name'] }}'])).flipswitch( "refresh" );
				{%- elif item['type'] == 'string' %}
				$('#{{ item['name'] }}').val(dictionary['{{ item['name'] }}']);
				$.validator.addMethod("{{ item['name'] }}", function(value, element) {
					return this.optional(element) || /{{ item['pattern'] }}/i.test(value);
				}, "Text field is invalid.");
			{%- endif %}
			}
			{%- endfor %}
		});
		
		// Handle different UI on i-devices
		if( /iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
			$("#header").remove();
		}
		
		$("form :input").on("keypress", function(e) {
			return e.keyCode != 13;
		});
		
		$("#configuration-form").validate({
			rules: {
				{%- for item in preferences['items']: -%}
				{% if item['type'] == 'string' %}
				{{ item['name'] }}: "required {{ item['name'] }}",
				{% endif %}
				{%- endfor %}
			},
			errorPlacement: function(error, element) {
				error.insertAfter( element.parent() );
			}
		});

		$('#b-submit').click(function() {
			if (!$("#configuration-form").valid()) {
				return false;
			}
			
			var dictionary = {};
			{%- for item in preferences['items']: %}
			{%- if item['type'] == 'string' %}
			dictionary['{{ item['name'] }}'] = $('#{{ item['name'] }}').val();
			{%- elif item['type'] == 'boolean' %}
			dictionary['{{ item['name'] }}'] = ($('#{{ item['name'] }}').prop('checked') ? 1 : 0);
			{%- else %}
			dictionary['{{ item['name'] }}'] = parseInt($('#{{ item['name'] }}').val());
			{%- endif %}
			{%- endfor %}
			localStorage['{{shortName}}'] = JSON.stringify(dictionary);

			var location = "pebblejs://close#" + encodeURIComponent(localStorage['{{shortName}}']);
			window.location.href = location;
		});
	
		$('#b-cancel').click(function() {
			var location = "pebblejs://close#";
			window.location.href = location;
		});
	</script>
</body>
</html>