Pebble.addEventListener("ready", function(e) {
    console.log("Ready");
});

Pebble.addEventListener("showConfiguration", function (e) {
    Pebble.openURL("{{ preferences['url'] }}");
});

Pebble.addEventListener("webviewclosed", function(e) {
    var settings = JSON.parse(decodeURIComponent(e.response));
    Pebble.sendAppMessage(settings);
});