#ifndef autoconfig_h
#define autoconfig_h

#include <pebble.h>

{% import 'autoconfig.jinja.utils' as autoconfig_utils %}

{% for item in preferences['items']: %}
#define {{ autoconfig_utils.cname(item)|upper }}_PKEY {{ appKeys[item['name']] }}
int32_t get{{ autoconfig_utils.cname(item)|capitalize }}();
{% endfor %}

void autoconf_in_received_handler(DictionaryIterator *iter, void *context); 

void autoconf_init();
void autoconf_deinit();

#endif