var config_url = "{{ preferences['url'] }}";

Pebble.addEventListener("ready", function(e) {
    console.log("Ready");
});

Pebble.addEventListener("showConfiguration", function (e) {
    Pebble.openURL(config_url);
});

Pebble.addEventListener("webviewclosed", function(e) {
    console.log(e.response);
    var responseFromWebView = decodeURIComponent(e.response);
    var settings = JSON.parse(responseFromWebView);
    Pebble.sendAppMessage(settings);
});